
<div layout="column" class="col-md-6 col-md-offset-3" layout-sm="column">
    <md-input-container flex>
        <label>First name</label>
        <input ng-model="check.userAlter.name">
    </md-input-container>
    <md-input-container flex>
        <label>Age</label>
        <input ng-model="check.userAlter.age">
    </md-input-container>
    <md-input-container flex>
        <label>Email</label>
        <input ng-model="check.userAlter.email">
    </md-input-container>
    <md-button class="md-raised" ng-click= "edit.update()" >Update</md-button>
    <md-button class="md-raised" ng-click= "check.show()" >Show</md-button>
</div>